{{ define "main" }}
<main>
    <article>
        <header class="mt-4 text-center" >
            <h1 class="post-title">{{ .Title }}</h1>
            <hr>
        </header>
        <!-- NOTE: This only takes the content of _index.md, not the articles -->
        <div class="content">
            {{.Content}}
        </div>
    </article>
    <ul>
        {{ range .Pages }}
        <li class="mb-2">
            <a href="{{.Permalink | relURL }}">{{.Title}}</a>
            {{ partial "articleInfoLess.html" . }}
        </li>
        {{ end }}
    </ul>
</main>
{{ end }}
