html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: #444;
  background-color: LavenderBlush;
  line-height: 1.6;
  font-size: 1.125rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Tahoma,
    Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Lucida Grande", sans-serif;
  width: 780px;
  max-width: calc(100% - 40px);
  margin: auto;
}

.post-header {
  text-align: center;
}

h1.post-title {
  text-align: center;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 2.5rem;
  margin: 10px;
}

.content > h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 0;
}

.content > h1,
aside > h2 {
  font-size: 2.125rem;
  font-weight: 500;
}

ul li ul {
  padding-bottom: 20px;
}

.navbar-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ff9bb2;
  font-family: "Roboto";
  align-items: center;
  margin: auto;
}

.navbar-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.0625rem;
}

.navbar-title a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 1.25rem;
}

.navbar-title {
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.navbar-menu {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 0;
}

.homepage-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.homepage-content {
  margin-left: 15px;
}

.thing {
  margin-top: 0;
}

.homepage-image {
  display: grid;
  align-content: center;
  justify-content: start;
  max-width: 100%;
}

.homepage-welcome {
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-grid {
  display: flex;
}

.footer-author {
}

.footer-contact {
  margin-left: auto;
  text-align: right;
  line-height: 1.75;
}

.markdown-post-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.markdown-post-caption {
  text-align: center;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

a {
  color: maroon;
}

a:hover {
  text-decoration: underline;
  color: #004188;
}

pre {
  overflow-x: auto;
}

/* inline highlights with `` */
p > code {
  color: #000c78;
  background-color: #eedcfc;
}

/* /1* ``` code w/o language *1/ */
/* pre code:not([class]) { */
/*     background-color: LavenderBlush; */
/*     color: black; */
/* } */

/* /1* ```golang <- code w/language *1/ */
/* pre code[class*='language-'] span { */
/*     background-color: #17111e !important; */
/* } */

.highlight {
  margin-bottom: 0.75em;
  overflow-x: auto;
}

iframe[title="YouTube Video"] {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

/* Use bootstrap's medium devices breakpoint */
@media (max-width: 768px) {
  .navbar-grid {
    margin-bottom: 10px;
    grid-template-columns: 1fr;
  }

  .navbar-title {
    margin: auto;
    margin-top: 20px;
  }

  .homepage-image {
    margin: auto;
  }

  .homepage-content {
    margin-left: 0;
  }

  .homepage-grid {
    grid-template-columns: 1fr;
  }
}
