/* Some basic styling, Bootstrap for everything else */
body {
    color: #444;
    background-color: LavenderBlush;
    line-height: 1.6;
    font-size: 18px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Tahoma, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Lucida Grande", sans-serif;
    max-width: 800px;
    margin: auto;
}

h1.post-title {
    font-weight: bold;
    font-family: "Roboto";
}

.content > h2 {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: normal;
}

ul li ul {
    padding-bottom: 1rem;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ff9bb2;
    font-family: "Roboto"; 
}

.navbar-col {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.navbar-nav {
    display: inline;
    margin-left: auto;
}

.navbar-brand {
    color: black;
    font-weight: bolder;
}

.navbar-title a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.homepage-row {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); */
    grid-template-columns: 1fr 1fr;
}

.homepage-col {
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.homepage-image {
    max-width: 100%;
}

.homepage-content {
    padding-left: 15px;
    padding-right: 15px;
}

.homepage-welcome {
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
}

a {
    color: maroon;
}

a:link {
    text-decoration: none
}

a:hover {
    text-decoration: underline;
    color: #004188
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
}

.homepage-content > h1 {
    text-align: center;
    /* margin-bottom: 3px; */
}

code:not([class]) {
    /* color: black; */
    color: #000C78;
    background-color: #eedcfc;
    /* background-color: lavender; */
}

iframe[title="YouTube Video"] {
    padding-bottom: .75rem;
    padding-top: .75rem;
}

pre code:not([class]) {
    background-color: LavenderBlush;
    color: black;
}

pre code[class*='language-'] span {
    background-color: #17111e !important;
}

.highlight {
    /* background-color: MistyRose !important; */
    /* background-color: lightcyan !important; */
    margin-bottom: .75em;
    /* padding: 15px; */
    /* color: black !important; */
}

/* Use bootstrap's medium devices breakpoint */
@media (max-width: 790px) {
    .navbar {
    }

    .homepage-row {
        background-color: red;
        grid-template-columns: 1fr;
    }

    .navbar-brand {
        margin-right: 0px;
    }
}
