html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    color: #444;
    background-color: LavenderBlush;
    line-height: 1.6;
    font-size: 1.125rem;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Tahoma, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Lucida Grande", sans-serif;
    max-width: 800px;
    margin: auto;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
}

.post-header {
    text-align: center;
}

h1.post-title {
    text-align: center;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 2.5rem;
    margin: 10px;
}

.content > h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 0;
}

ul li ul {
    padding-bottom: 20px;
}

.navbar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ff9bb2;
    font-family: "Roboto"; 
    padding: 10px 20px;
    align-items: center;
    margin: auto;
}

.navbar-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.0625rem;
}


.navbar-title a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1.25rem;
}

.navbar-title {
    margin-right: auto;
}

.navbar-menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.navbar-menu-item {
    padding: 10px;
}

.homepage-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.homepage-content {
    margin-left: 15px;
}

.thing {
    margin-top: 0;
}

.homepage-image {
    display: grid;
    align-content: center;
    justify-content: start;
    max-width: 100%;
}

.homepage-welcome {
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-grid {
    display: flex;
}

.footer-author {
}

.footer-contact {
    margin-left: auto;
    text-align: right;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

a {
    color: maroon;
}

a:link {
    text-decoration: none
}

a:hover {
    text-decoration: underline;
    color: #004188
}

code:not([class]) {
    /* color: black; */
    color: #000C78;
    background-color: #eedcfc;
    /* background-color: lavender; */
}

iframe[title="YouTube Video"] {
    padding-bottom: .75rem;
    padding-top: .75rem;
}

pre code:not([class]) {
    background-color: LavenderBlush;
    color: black;
}

pre code[class*='language-'] span {
    background-color: #17111e !important;
}

.highlight {
    margin-bottom: .75em;
}

/* Use bootstrap's medium devices breakpoint */
@media (max-width: 768px) {

    .navbar-grid {
        margin-bottom: 10px;
        grid-template-columns: 1fr;
    }

    .navbar-title {
        margin: auto;
        padding-top: 10px;
    }

    .navbar-menu {
        margin: auto;
    }

    .homepage-image {
        margin: auto;
    }

    .homepage-content {
        margin-left: 0;
    }

    .homepage-grid {
        grid-template-columns: 1fr;
    }
}
