<div class="article-info">
    {{ if .Params.date }}
        <div class="article-date">{{ .Params.date.Format "2006-01-02" }}</div>
    {{ end }}
    <div class="article-taxonomies">
        {{ if .Params.categories }}
            <span class="article-categories">
                Categories: 
                {{ range .Params.categories }}
                    <a href="{{ "categories/" | relURL }}{{ . }}">{{ . }}</a>
                {{ end }}
            </span>
            {{ end }}
            {{ if .Params.tags }}
                <br>
                <span class="article-tags">
                    Tags: 
                    {{ range .Params.tags }}
                        <a href="{{ "tags/" | relURL }}{{ . | urlize}}">#{{ . }}</a>
                    {{ end }}
                </span>
        {{ end }}
    </div>
</div>
