<!-- <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;"> -->
<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark"> -->
<nav class="navbar navbar-expand-md ">
    <a class="navbar-brand mr-4" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav ml-auto">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li class="nav-item"><a class="nav-link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>
</nav>
